# Build output
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user

# Rider
.idea/
*.sln.iml

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Publish output
publish/

# NuGet
*.nupkg

# Logs
*.log

# Configs
steamconfig.json